<div class="raygun-header" id="rgHeading">
    <div><a class="button blue icon-solo menu-icon" id="display-sidebar-toggle" title="Show Sidebar List"></a>
        <a class="button blue icon-solo globe-icon" id="display-global-dashboard"
           href="https://app.raygun.io/mydashboard" title="Global dashboard"></a>
        <a class="button blue icon-before application-icon" id="display-applications-toggle"
           title="Toggle Application List">
            <span class="tb-hide">Applications</span>
        </a>
        <a href="https://app.raygun.io/application/create" class="button blue icon-solo add-icon"
           id="create-application" title="Create / Add application"></a>

        <div id="left-controls-region" class="breadcrumb">
            <div>
                <a href="file:///D:/xampplite/htdocs/rgui/extra%20-%20cloned%20from%20raygun/dashboard_files/dashboard.html"
                   class="button header-inactive step-2">ServiceTab7_prod</a>
            </div>
        </div>
        <div id="right-controls-region" class="user-controls">
            <div class="dropdown-button"><a class="button button-40 button-blue button-image" title="User Settings">
                <img class="avatar-24" src="resources/eaea789796f78cc72271268a27eb03f9">
                <span class="mb-hide">Edgar Villegas g06</span>
            </a>

                <div class="dropdown dock-right">
                    <div class="dropdown-content">
                        <div class="dropdown-section">
                            <a class="dropdown-option icon-before" href="https://app.raygun.io/mydashboard">
                                <span class="flat-icon icon-16 dashboard-icon"></span>
                                Global dashboard
                            </a>
                            <a class="dropdown-option icon-before" href="https://app.raygun.io/user">
                                <span class="flat-icon icon-16 cog-icon"></span>
                                My settings
                            </a>
                            <a class="dropdown-option icon-before" href="https://app.raygun.io/user/notifications">
                                <span class="flat-icon icon-16 bell-icon"></span>
                                My notifications
                            </a>
                            <a class="dropdown-option icon-before" href="https://app.raygun.io/application/create">
                                <span class="flat-icon icon-16 addapplication-icon"></span>
                                Create new application
                            </a>
                        </div>
                        <div class="dropdown-section">
                            <div class="dropdown-heading">Plans</div>
                            <div class="js-plan-container">
                                <div><a href="https://app.raygun.io/plan/9e2e4y"
                                        class="dropdown-option icon-before">
  <span class="avatar avatar-16">
    <img src="resources/eaea789796f78cc72271268a27eb03f9(1)">
  </span>
                                    Edgar Villegas g06
                                </a></div>
                            </div>
                        </div>
                        <div class="dropdown-section">
                            <a class="dropdown-option icon-before" id="logout-link">
                                <span class="flat-icon icon-16 logout-icon"></span>
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>