<div class="raygun-switcher" id="application-switcher-region"></div>
<div class="raygun-sidebar" id="rgNavigation">
    <div class="sidebar-overflow">
        <div id="desktop-app-identity" class="sidebar-application">
            <div class="app-row"><!-- application -->
                <div class="sidebar-application-container">
                    <div class="avatar avatar-32">
                        <img src="resources/2.png">
                    </div>
  <span class="sidebar-application-name break">
    ServiceTab7_prod
  </span>
                </div>
            </div>
        </div>
        <div id="searchArea" class="sidebar-search">
            <div><!-- search-->
                <form class="search-wrapper" action="https://app.raygun.io/dashboard/9e2e53/search" method="GET"
                      novalidate="novalidate">
                    <div class="flat-icon icon-16 search-icon"></div>
                    <input type="text" class="search-input" name="q" placeholder="search" value="">
                </form>
            </div>
        </div>
        <div id="rgNav" class="sidebar-list-container">
            <ul>
                <li><a class="sidebar-button is-active"
                       href="file:///D:/xampplite/htdocs/rgui/extra%20-%20cloned%20from%20raygun/dashboard_files/dashboard.html">
  <span class="sidebar-button-content">
    <span class="sidebar-icon overview-icon"></span>
    <span class="sidebar-label">Dashboard View</span>
  </span>
                </a></li>
                <li><a class="sidebar-button" href="https://app.raygun.io/dashboard/9e2e53/settings">
  <span class="sidebar-button-content">
    <span class="sidebar-icon settings-icon"></span>
    <span class="sidebar-label">Application Settings</span>
  </span>
                </a></li>
            </ul>
        </div>


        <div class="sidebar-bottom">
            <div class="sidebar-bottom-container">
                <div id="usage-area"></div>
                <a class="sidebar-link" href="https://twitter.com/rgui" data-size="large" data-show-count="false">
                    Follow @rgui
                </a>
                <a class="sidebar-link" href="http://www.github.com/rgui/">
                    github.com/rgui
                </a>
            </div>
        </div>
    </div>
</div>